{% extends 'product/base.html' %}
{% load static %}
{% block body %}
<h1>Cart summary</h1>
<div class="cart">
    <div class="card-container">
        {% for cartitem in cartitems %}
        <div class="card">
            <img src="{{ cartitem.product.image.url }}" alt="" class="card-img">
            <h3 class="name">{{ cartitem.product.name }}</h3>
            <p class="units">{{ cartitem.units }} units</p>
            <h4 class="price">{{ cartitem.product.store.currency }} {{ cartitem.get_price }}</h4>
        </div>
        {% endfor %}
    </div>
    <h5>Cart total = <span>{{ order.cart_total }}</span></h5>
    <h5>Shipping fees = <span>{{ order.shipping_fee }}</span></h5>
    <h3>Total = <span>{{ order.details.net_total }}</span></h3>
    <a href="{% url 'payment_init' order.store.slug %}" class="proceed-btn">Pay</a>
</div>
{% endblock %}