{% extends 'product/base.html' %}
{% block body %}
	<div class="register-dispatch">
        <h3>Register as a Dispatch Rider</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste rerum atque ratione reprehenderit! Reiciendis eaque delectus asperiores nostrum provident quis sit corrupti officiis vero suscipit, quod laborum necessitatibus doloribus quam?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos impedit corporis nesciunt dolorem reprehenderit, nisi in praesentium soluta quidem laudantium quisquam sequi tempora ex ipsam cupiditate placeat natus repellat obcaecati!</p>
		<a href="{% url 'register_rider' %}" class="btn-sucsess">Register</a>
	</div>
{% endblock %}