{% extends 'product/base.html' %}
{% block body %}
	<div class="notifications">
		<p>balance = {{ store.currency }} {{ store.balance }}</p>
		<a href="{% url 'product_list' store.slug %}">View store</a>
		<div class="order-notification">
			<a href="{% url 'pending_orders' %}">
				<p>New Orders:</p>
				<hr>
				<h1>{{ length }}</h1>
			</a>
		</div>
	</div>
	<div class="product-table">
		<h3>Products</h3>
		{% for product in product_list %}
		<div class="product-table-item">
			<img src="{{ product.image.url }}" alt="">
			<span>{{ product.name }}</span>
			<a href="{% url 'details' product.id %}"><button>View</button></a>
			<a href="{% url 'update_product' product.id %}"><button>edit</button></a>
		</div>
		{% endfor %}
		<a href="">More...</a>
		<a href="{% url 'create_product' %}"><button>Add Product</button></a>
	</div>
	
{% endblock %}