{% extends 'product/base.html' %}
{% block body %}
<div class="details">
	<div class="cart-items">
		<h4>cart-items</h4>
		{% for cartitem in order.cartitem_set.all %}
		<h5>{{ cartitem.product.name }}</h5>
		<span>{{ cartitem.units }} units</span>
		{% endfor %}
	</div>
	<h3>Order Status:</h3>
	<p>{{ order.get_status_display }}</p>
	<br>
	<form method="post">
		{% csrf_token %}
		<div>
			{% for field in form %}
        		<span>{{ field.error }}</span>
        		<label> {{ field.label }}</label>
        		{{ field }}
			{% endfor %}
		</div>
		<button class="btn btn-success" type="submit">Update Status</button>
	</form>
</div>
{% endblock %}